.more-info {
  display: grid;
  gap: calc(var(--mobile-padding) / 2);
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 375px) {
  .more-info {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .more-info {
    gap: calc(var(--tablet-padding) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .more-info {
    gap: calc(var(--desktop-padding) / 2);
  }
}

.card {
  width: 98px;
  height: 148px;
  padding: calc(var(--tablet-padding) / 2);

  border-radius: var(--radius);

  background: var(--input-background-color);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: calc(var(--tablet-padding) / 2);
  transition: background-color 250ms cubic-bezier(var(--cubic));
}
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background-color: var(--input-background-active-color);
  }
}
@media screen and (min-width: 640px) {
  .card {
    width: 128px;
    height: 148px;
    gap: var(--tablet-padding);
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 158px;
    height: 196px;
    padding: 16px;
    gap: var(--mobile-padding);
  }
}

.upper-card,
.card__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: calc(var(--tablet-padding) / 2);
}
@media screen and (min-width: 768px) {
  .upper-card,
  .card__information {
    gap: calc(var(--desktop-padding) / 2);
  }
}

.card__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  color: var(--text-black-color);
}
@media screen and (min-width: 768px) {
  .card__title {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 768px) {
  .card__thumb {
    width: var(--desktop-padding);
  }
}

.card__indicator {
  font-size: 22px;
  line-height: 1;
  color: var(--text-black-color);
}
@media screen and (min-width: 768px) {
  .card__indicator {
    font-size: 32px;
  }
}

.card__value-span {
  display: inline-block;
}

.card__bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: calc(var(--tablet-padding) / 4);
}
@media screen and (min-width: 768px) {
  .card__bottom {
    gap: calc(var(--desktop-padding) / 4);
  }
}

.card__progress-bar {
  mask: radial-gradient(
    circle at calc((var(--percent) * 0.96) + 3px),
    black 0px,
    black 3px,
    transparent 3px,
    transparent 5px,
    black 5px,
    black 5px
  );
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: var(--progress-background-color);
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(var(--cubic));
}
.card:hover .card__progress-bar{
  background-color: var(--progress-background-center-color);
}
@media screen and (min-width: 768px) {
  .card__progress-bar {
    mask: radial-gradient(
      circle at calc((var(--percent) * 0.94) + 4px),
      black 0px,
      black 4px,
      transparent 4px,
      transparent 6px,
      black 6px,
      black 6px
    );
    height: 8px;
    border-radius: 4px;
  }
}

.card__progress-bar > .card__progress-bar--inner {
  left: calc(var(--percent) * 0.96);
}
@media screen and (min-width: 768px) {
  .card__progress-bar > .card__progress-bar--inner {
    left: calc(var(--percent) * 0.94);
  }
}

/*------ Progress bars values ------*/
.card__progress-bar.pressure {
  --percent: var(--percent-pressure);
}
.card__progress-bar.humidity {
  --percent: var(--percent-humidity);
}
.card__progress-bar.visibility {
  --percent: var(--percent-visibility);
}
/*------ Progress bars values off ------*/

/* .pressure {
  background: linear-gradient(
    to right,
    var(--progress-background-full-color) 0%,
    var(--progress-background-center-color) 15%,
    var(--progress-background-middle-color) 50%,
    var(--progress-background-center-color) 85%,
    var(--progress-background-full-color) 100%
  );
} */

.card__progress-bar--inner {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--text-light-color);
  transition: left 250ms cubic-bezier(var(--cubic));
  transition: background-color 250ms cubic-bezier(var(--cubic));
}
.card:hover .card__progress-bar--inner {
  background-color: var(--text-dark-color);
}
@media screen and (min-width: 768px) {
  .card__progress-bar--inner {
    width: 8px;
    height: 8px;
  }
}

.card__bottom--status {
  width: 100%;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--indicator-color);
  text-align: center;
  text-transform: capitalize;
}

.card__bottom--status-percents {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__bottom--status.percents {
  width: auto;
}
