.header {
  padding: 32px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: inline-block;
  padding: 0;
  margin-right: auto;
}

.search-form {
  width: 506px;
  padding: 12px 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(2 * var(--min-step));

  border-radius: var(--radius);

  background-color: var(--input-background-color);

  transition: color 250ms cubic-bezier(var(--cubic)),
    background-color 250ms cubic-bezier(var(--cubic)),
    box-shadow 250ms cubic-bezier(var(--cubic)),
    opacity 250ms cubic-bezier(var(--cubic));
}

.search-form:hover,
.search-form:focus-within {
  background-color: var(--input-background-active-color);
}

.search-form__input {
  margin: 0;
  padding: 0;
  width: 100%;

  outline: none;
  border: none;
  background: none;
  color: var(--text-black-color);
}

.search-form__input::placeholder {
  color: var(--text-dark-color);
}

.search-form__button {
  padding: 4px;

  width: 24px;
  height: 24px;

  transition: color 250ms cubic-bezier(var(--cubic)),
    background-color 250ms cubic-bezier(var(--cubic)),
    box-shadow 250ms cubic-bezier(var(--cubic)),
    opacity 250ms cubic-bezier(var(--cubic));
}

.search-form__icon {
  display: block;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(var(--cubic)),
    background-color 250ms cubic-bezier(var(--cubic)),
    box-shadow 250ms cubic-bezier(var(--cubic)),
    opacity 250ms cubic-bezier(var(--cubic));
}

.js-cross .search-form__icon:hover {
  color: var(--text-black-color);
}