.header {
  padding: var(--mobile-padding);
  width: 100%;

  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 640px) {
  .header {
    gap: 135px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: var(--tablet-padding);
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding: var(--desktop-padding);
    justify-content: space-between;
  }
}

.logo {
  display: inline-block;
  padding: 9px 0;
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 12px 0;
  }
}
@media screen and (min-width: 1024px) {
  .logo {
    padding: 8px 0;
  }
}

.search-form {
  width: 100%;
  position: relative;

  padding: 8px 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  border-radius: var(--radius);

  background-color: var(--input-background-color);

  transition: color 250ms cubic-bezier(var(--cubic)),
    background-color 250ms cubic-bezier(var(--cubic)),
    box-shadow 250ms cubic-bezier(var(--cubic)),
    opacity 250ms cubic-bezier(var(--cubic));
}
@media screen and (min-width: 768px) {
  .search-form {
    padding: 12px 16px;
    gap: 16px;
  }
}
/* @media screen and (min-width: 886px) {
  .search-form {
    max-width: 600px;
  }
} */
@media screen and (min-width: 1024px) {
  .search-form {
    max-width: 505px;
  }
}

.search-form:hover,
.search-form:focus-within {
  background-color: var(--input-background-active-color);
}

.search-form__input {
  margin: 0;
  padding: 0;
  width: 100%;

  outline: none;
  border: none;
  background: none;
  color: var(--text-black-color);
}
.search-form__input::placeholder {
  color: var(--text-dark-color);
}

.search-form__button {
  min-width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: color 250ms cubic-bezier(var(--cubic)),
    background-color 250ms cubic-bezier(var(--cubic)),
    box-shadow 250ms cubic-bezier(var(--cubic)),
    opacity 250ms cubic-bezier(var(--cubic));
}
@media screen and (min-width: 768px) {
  .search-form__button {
    min-width: 24px;
    height: 24px;
  }
}

.search-form__icon {
  width: 100%;
  display: block;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(var(--cubic)),
    background-color 250ms cubic-bezier(var(--cubic)),
    box-shadow 250ms cubic-bezier(var(--cubic)),
    opacity 250ms cubic-bezier(var(--cubic));
}
@media screen and (min-width: 768px) {
  .search-form__icon {
    width: 18px;
    height: 18px;
  }
}

.js-cross .search-form__icon:hover {
  color: var(--text-black-color);
}

.search-form__list{
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  max-height: 300px;
  overflow-y: auto;

  background-color: var(--input-background-active-color);
  border-radius: var(--radius);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  z-index: 10;
}

.search-form__item {
  padding: 12px 16px;
  cursor: pointer;
  color: var(--text-dark-color);
}
.search-form__item:hover,
.search-form__item:focus {
  background-color: var(--input-background-color);
  color: var(--text-black-color);
}