body {
  margin: 0 auto;
  padding: var(--mobile-padding);
  min-height: 100vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../assets/images/desktop/background-main@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: var(--text-light-color);

  font-family: "Raleway", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0px;
  font-variant-numeric: lining-nums;
}
@media screen and (min-width: 768px) {
  body {
    padding: var(--tablet-padding);
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1024px) {
  body {
    padding: var(--desktop-padding);
  }
}
@media screen and (min-width: 1280px) {
  body {
    padding: 32px 80px;
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  body {
    background-image: url("../assets/images/desktop/background-main@2x.jpg");
  }
}
@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  body {
    background-image: url("../assets/images/desktop/background-main@3x.jpg");
  }
}

.container {
  width: 100%;
  max-width: var(--mobile-2);

  border-radius: var(--radius);
  backdrop-filter: blur(50px);
  background-color: var(--main-background-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 640px) {
  .container {
    max-width: var(--tablet-1);
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: var(--tablet-2);
  }
}
@media screen and (min-width: 886px) {
  .container {
    max-width: var(--desktop-1);
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: var(--desktop-2);
  }
}
