.slider-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--mobile-padding);
  padding: var(--mobile-padding);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .slider-section {
    gap: var(--tablet-padding);
    padding: var(--tablet-padding);
  }
}
@media screen and (min-width: 1024px) {
  .slider-section {
    gap: var(--desktop-padding);
    padding: var(--desktop-padding);
  }
}

.slider-heading {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: var(--mobile-padding);
}
@media screen and (min-width: 768px) {
  .slider-heading {
    gap: var(--tablet-padding);
  }
}
@media screen and (min-width: 1024px) {
  .slider-heading {
    gap: var(--desktop-padding);
  }
}

.slider-heading__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #f5f4f4;
}
@media screen and (min-width: 768px) {
  .slider-heading__title {
    font-size: 24px;
    line-height: 1.33333;
  }
}

.slider-heading__menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--mobile-padding);
}
@media screen and (min-width: 768px) {
  .slider-heading__menu {
    gap: var(--tablet-padding);
  }
}
@media screen and (min-width: 1024px) {
  .slider-heading__menu {
    gap: var(--desktop-padding);
  }
}

.slider-heading__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33333;
  text-align: center;

  color: var(--slider-link-color);
  border-bottom: 2px solid transparent;
  transition: color 250ms cubic-bezier(var(--cubic)),
    border-color 250ms cubic-bezier(var(--cubic));
}
@media screen and (min-width: 768px) {
  .slider-heading__link {
    font-size: 16px;
    line-height: 1.5;
  }
}

.slider-heading__link.active {
  color: var(--text-light-color);
  border-color: var(--text-light-color);
}

.slider-heading__link:not(.active):hover {
  border-color: var(--slider-link-color);
}

.slider-wrapper {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: var(--mobile-padding);

  color: var(--icon-color);
}
@media screen and (min-width: 768px) {
  .slider-wrapper {
    gap: var(--tablet-padding);
  }
}
@media screen and (min-width: 1024px) {
  .slider-wrapper {
    gap: var(--desktop-padding);
  }
}

.slider {
  width: 100%;

  overflow: hidden;
}

.have-right .slider {
  mask-image: linear-gradient(
    to right,
    black 0%,
    black calc(100% - var(--mobile-padding)),
    transparent 100%
  );
}
@media screen and (min-width: 768px) {
  .have-right .slider {
    mask-image: linear-gradient(
      to right,
      black 0%,
      black calc(100% - var(--tablet-padding)),
      transparent 100%
    );
  }
}
@media screen and (min-width: 1024px) {
  .have-right .slider {
    mask-image: linear-gradient(
      to right,
      black 0%,
      black calc(100% - var(--desktop-padding)),
      transparent 100%
    );
  }
}

.have-left .slider {
  mask-image: linear-gradient(
    to left,
    black 0%,
    black calc(100% - var(--mobile-padding)),
    transparent 100%
  );
}
@media screen and (min-width: 768px) {
  .have-left .slider {
    mask-image: linear-gradient(
      to left,
      black 0%,
      black calc(100% - var(--tablet-padding)),
      transparent 100%
    );
  }
}
@media screen and (min-width: 1024px) {
  .have-left .slider {
    mask-image: linear-gradient(
      to left,
      black 0%,
      black calc(100% - var(--desktop-padding)),
      transparent 100%
    );
  }
}

.have-right.have-left .slider {
  mask: linear-gradient(
    to right,
    transparent 0px,
    black calc(var(--mobile-padding) + 1px),
    black calc(100% - var(--mobile-padding)),
    transparent 100%
  );
}
@media screen and (min-width: 768px) {
  .have-right.have-left .slider {
    mask: linear-gradient(
      to right,
      transparent 0px,
      black calc(var(--tablet-padding) + 1px),
      black calc(100% - var(--tablet-padding)),
      transparent 100%
    );
  }
}
@media screen and (min-width: 1024px) {
  .have-right.have-left .slider {
    mask: linear-gradient(
      to right,
      transparent 0px,
      black calc(var(--desktop-padding) + 1px),
      black calc(100% - var(--desktop-padding)),
      transparent 100%
    );
  }
}

.slider__strip {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: calc(var(--mobile-padding) / 2);
  flex-wrap: nowrap;

  transform: translateX(var(--offset));
  transition: transform 250ms cubic-bezier(var(--cubic));
}
@media screen and (min-width: 768px) {
  .slider__strip {
    gap: calc(var(--tablet-padding) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .slider__strip {
    gap: calc(var(--desktop-padding) / 2);
  }
}

.slider__button {
  min-width: 40px;
  height: 32px;

  cursor: pointer;
  border-radius: 8px;
  background-color: var(--input-background-color);

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(var(--cubic));
}
@media screen and (min-width: 768px) {
  .slider__button {
    min-width: 56px;
    height: 48px;
  }
}

.slider__button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.slider__button:hover:enabled {
  background-color: var(--input-background-active-color);
}

.slider__item {
  width: 100%;
  height: 100%;
  padding: 12px;

  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--input-background-color);

  gap: calc(var(--tablet-padding) / 2);
  transition: background-color 250ms cubic-bezier(var(--cubic));
}
.slider__item:hover {
  background-color: var(--input-background-active-color);
}
@media screen and (min-width: 640px) {
  .slider__item {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .slider__item {
    gap: calc(var(--desktop-padding) / 2);
    flex-direction: column;
  }
}
@media screen and (min-width: 886px) {
  .slider__item {
    flex-direction: row;
  }
}

.slider__date-time,
.slider__temperature {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  text-wrap: nowrap;
  color: #202020;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .slider__date-time,
  .slider__temperature {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 768px) {
  .slider__icon {
    width: 32px;
    height: 32px;
  }
}