:root {
  --main-background-color: rgba(112, 112, 112, 0.1);
  --text-light-color: #f5f4f4;
  --text-dark-color: #707070;
  --text-black-color: #202020;
  --border-line-color: #f2f2f2;
  --icon-color: #545454;
  --indicator-color: #393939;
  --input-background-active-color: #dadada;
  --input-background-color: rgba(245, 244, 244, 0.4);
  --progress-background-middle-color: rgba(84, 84, 84, 0.4);
  --progress-background-center-color: rgba(138, 138, 138, 0.4);
  --progress-background-color: rgba(218, 218, 218, 0.4);
  --progress-background-full-color: rgba(218, 218, 218, 1);
  --footer-background-color: rgba(139, 139, 139, 0.1);
  --slider-link-color: #a6a6a6;
  --min-step: 8px;
  --radius: 8px;
  --cubic: 0.4, 0, 0.2, 1;

  /* css-js variables */
  --offset: 0;
  --percent-humidity: 65%;
  --percent-pressure: 75%;
  --percent-visibility: 25%;

  /* breakpoints */
  --mobile-1: 375px;
  --mobile-2: 640px;
  --tablet-1: 768px;
  --tablet-2: 886px;
  --desktop-1: 1024px;
  --desktop-2: 1280px;
}
